<div class="row">
  <div class="col-lg-12">
    <div class="card">
      <div class="card-header">
        <i class="fa fa-align-justify"></i> Liste des dossiers
      </div>
      <div class="card-body">
        <div class="row">
          <div class="col-md-12 col-sm-08 col-xs-04">
            <div class="row">
              <div class="col-md-4">
                <input *ngIf="config.filtering" placeholder="Filter all columns"
                       [ngTableFiltering]="config.filtering"
                       class="form-control"
                       (tableChanged)="onChangeTable(config)"/>
              </div>
            </div>
            <br>
            <ng-table [config]="config"
                      (tableChanged)="onChangeTable(config)"
                      (cellClicked)="onCellClick($event)"
                      [rows]="rows" [columns]="columns">
            </ng-table>

            <pre *ngIf="config.paging" class="card card-block card-header">Page: {{page}} / {{numPages}}</pre>
          </div>
        </div>
      </div>
    </div>

  </div>
</div>



